.App-header {
  width: auto;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  padding: 10px;
  background-color: rgb(214, 144, 15);
  border-radius: 10px;
  box-shadow: 5;
  text-decoration: none;
}

.title {
  margin-top: 10px;
  margin-bottom: 10px;
}

.nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
  text-decoration: none;
  list-style: none;
  margin: 10px;
}

.nav-link {
  margin: 10px;
}

.link {
  color: azure;
  margin: 20px;
}

.activeLink {
  color: #d415c4;
}
